<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Dean’s List for Fall 2017 and Spring 2018 </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Earned the Highest Score in Computer Science Lab for Fall 2017 and Spring 2018</li>
          
        </ul>
      </div>
    </section>
