<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Arcadia university</h3>
            <div class="subheading mb-3">Bachelor of Science</div>
            <div>Computer Science
                Minor: French</div>
            <p>GPA: 3.62</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Fall 2017 - Present</span>
          </div>
        </div>
      </div>
    </section>
